name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'

    - name: Build and test with RSpec
      run: |
        gem install bundler
        bundle install --jobs=4 --retry=3 --path vendor/bundle
        bin/rspec
    - name: Upload test results to BuildPulse for flaky test detection
      if: '!cancelled()' # Run this step even when the tests fail. Skip if the workflow is cancelled.
      uses: Workshop64/buildpulse-action@master
      with:
        account: 68192324 # Replace this value with your BuildPulse account ID
        repository: 238705816 # Replace this value with your BuildPulse repository ID
        path: spec/reports
        key: ${{ secrets.BUILDPULSE_ACCESS_KEY_ID }}
        secret: ${{ secrets.BUILDPULSE_SECRET_ACCESS_KEY }}
